@model List<Party_Invites.Models.GuestResponse>

@{ 
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <title>Lista uczestników</title>
</head>
<body>
    <div class="panel-body">
        <h2>Lista gości, którzy zadeklarowali swoje przyjście na imprezę:</h2>
        <br />
        
        <table class="table table-striped table-bordered">
            <thread>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Adres e-mail</th>
                    <th>Numer telefonu</th>
                </tr>
            </thread>
            <tbody>
                @foreach (var guest in Model)
                {
                    <tr>
                        <td>@guest.Name</td>
                        <td>@guest.Email</td>
                        <td>@guest.Phone</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>