@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <meta name="viewport" content="width=device-width" />
    <title>Przyjęcie sylwestrowe</title>
</head>
<body>
    <div class="text-center">
        <h2>Zapraszamy na wspaniałe przyjęcie sylwestrowe!</h2>
        <h3>Ty też zostałeś zaproszony!</h3>

        <div class="text-center">
            <a class="btn btn-primary" asp-action="RsvpForm">Wyślij RSVP</a>
        </div>
    </div>
</body>
</html>